<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sensor Console</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='javascript/gaugeFunctions.js') }}" type='text/javascript'></script>  
  
  
</head>
<style>
  .card-body{
    padding:0;
  }
  .col-3{
    padding:0;
  }
  table{
    display:inline-block;
  }
</style>
<body>
    <div class="container mt-5" style = "max-width: fit-content;">
        <!-- Row 1: Sensor title -->
        <div class="row title-row">
          <div class="col-12">
              <h1 class="heading text-center">Sensor 1</h1>
          </div>
      </div>
        
        <!-- Rows 2-5: 4 equally sized boxes -->
        <div class="row">
            <div class="col-3">
                <div class="card" style="border:0; text-align: center;">
                    <div class="card-body" id = "methaneGauge">
                        
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="border:0; text-align: center;">
                    <div class="card-body" id = "carbonGauge">
                        
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="border:0; text-align: center;">
                    <div class="card-body" id = "aqGauge">
                       
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card" style="border:0; text-align: center;">
                    <div class="card-body" id = "butaneGauge">
                        
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body" >
                        <canvas id = "methaneGraph" width="800" height="800"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body" >
                        <canvas id = "carbonGraph" width="800" height="800"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body" >
                        <canvas id = "aqGraph" width="800" height="800"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body" >
                        <canvas id = "butaneGraph" width="800" height="800"></canvas>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        Sensor 9
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        Sensor 10
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        Sensor 11
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        Sensor 12
                    </div>
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        Sensor 13
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        Sensor 14
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        Sensor 15
                    </div>
                </div>
            </div>
            <div class="col-3">
                <div class="card">
                    <div class="card-body">
                        Sensor 16
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='javascript/graphFunctions.js') }}" type='text/javascript'></script>
<script>

</script>
</html>

